 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* start of my code  */
.team {
    display: block;
    justify-items: center;
     height: 350px; 
     width: 320px;
     font-family: 'Alegreya SC', serif;
     
}

.cards{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(4, 25%);
    column-gap: 30px;
    padding-top: 5rem;
    
}

.players{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(4, 25%);
    column-gap: 10px;
    padding-top: 2rem;
    font-size: 65px; 
    
}


li {
    display:inline;
    padding-left: 10px;
  }

   ul{
       padding-left: 40%;

  } 


body{
    background-image: url("https://newsroom.cisco.com/documents/10157/14740/nfl-football-realtime-feature_1200x675_hero_091317.jpg/213e019f-4c34-456a-b316-e15413192bfd?t=1505336813842" );
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    
}

.homeHeader{
    margin: 0 auto 18px;
    overflow: hidden;
    text-align: center;
    height: 50rem;
}

header{
    
    font-family: 'Alegreya SC', serif;
    color: antiquewhite;
    background-color: rgba(238, 238, 240, 0.2);
}

.headerTwo{
    font-family: 'Alegreya SC', serif;
    color: antiquewhite;
    font-size: 90px;
    background-color: rgba(238, 238, 240, 0.2);
    text-align: center;

}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}



a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
    text-shadow: 2px 2px #b40606;
}
.budgetLink{
    padding-top: -3rem;

}

h1{
    color: antiquewhite;
    font-size: 50px;
    text-shadow: 2px 2px #b40606;
}

h2{
    color: antiquewhite;
    font-size: 50px;
    text-shadow: 2px 2px #b40606;
    

}


h5 {
    color: antiquewhite;
    font-size: 20px;
    text-shadow: 2px 2px #b40606;
}
p{
    color: antiquewhite;
    font-size: 20px;
    text-shadow: 2px 2px #b40606;

}



img{
height: auto;
width: 150px;
padding-left: 4rem;
}

.teamHeader{
    text-align: center;
}

.allPlayerHeader{
    text-align: center;
    padding-top: 1rem;
    padding-right: 5rem;
}


.budgetInfo{
    font-weight: 10px;
    padding-bottom: 20px;
}

.teamNameCard{
    justify-content: center;
}

.secondHeader{
    font-family: 'Alegreya SC', serif;
    color: antiquewhite;
    font-size: 90px;
    background-color: rgba(238, 238, 240, 0.2);
    text-align: center;

}

.teamBudgetLowerHeader{
    font-family: 'Alegreya SC', serif;
    color: antiquewhite;
    font-size: 90px;
    background-color: rgba(238, 238, 240, 0.2);
    text-align: center;
    padding-right: 2.8rem;
    padding-top: 1rem;

}