
 
 .player-card-container{
    display:flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    
   
 }

 .player-theCard{
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    transition: 0.5s;
 }

 .player-theFront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url("https://cdna.4imprint.com/prod/extras/004795/358639/700/1.jpg")
    background-color: rgba(238, 238, 240, 0.4);
    color: #333;
    display:flex; 
    justify-content: center; 
    align-items: center;
 }
 .player-theBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #dfff28;
    color: #333;
    transform: rotateY(180deg);
    display:flex;
    justify-content: center; 
    align-items: center;
 }

.player-theCard:hover{
   transform: rotateY(180deg);
}



 body{
    background-image: url("https://newsroom.cisco.com/documents/10157/14740/nfl-football-realtime-feature_1200x675_hero_091317.jpg/213e019f-4c34-456a-b316-e15413192bfd?t=1505336813842" );
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    
}

